body{
    background-color: lightgray;
}
h1{
    color: blue;
    border: 3px solid blue;
    border-radius: 10px;
}
h2{
    color: red;
    border: 2px dashed red;
}
#border{
    border: 2px dotted green;
}
.fill-color{
    color: green;
}