body{
    background-color: aliceblue;
}
h1{
    color: black;
    text-align: center;
    font-style: italic;
}
.profile-Card{
    padding: 20px;
    margin: 30px auto;
    border: 2px solid blue;
    border-radius: 15px;
    width: 400px;
    background-color: aqua;
}
.profile-top{
    text-align: center;
}
.img-link{
     width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

}
p,h3,h2{
    font-size: 20px;
    font-style: italic;
}
.list{
    font-size: 20px;
}
